@font-face {
  font-family: 'ikon';
  src:
    url('fonts/ikon.ttf?ivii3g') format('truetype'),
    url('fonts/ikon.woff?ivii3g') format('woff'),
    url('fonts/ikon.svg?ivii3g#ikon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ik {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ikon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ik-logo-alt:before {
  content: "\e005";
}
.ik-logo:before {
  content: "\e006";
}
.ik-namaste:before {
  content: "\e900";
}
.ik-asterisk:before {
  content: "\f069";
}
.ik-plus:before {
  content: "\f067";
}
.ik-question:before {
  content: "\f128";
}
.ik-minus:before {
  content: "\f068";
}
.ik-glass:before {
  content: "\f000";
}
.ik-music:before {
  content: "\f001";
}
.ik-search:before {
  content: "\f002";
}
.ik-envelope-o:before {
  content: "\f003";
}
.ik-heart:before {
  content: "\f004";
}
.ik-star:before {
  content: "\f005";
}
.ik-star-o:before {
  content: "\f006";
}
.ik-user:before {
  content: "\f007";
}
.ik-film:before {
  content: "\f008";
}
.ik-th-large:before {
  content: "\f009";
}
.ik-th:before {
  content: "\f00a";
}
.ik-th-list:before {
  content: "\f00b";
}
.ik-check:before {
  content: "\f00c";
}
.ik-close:before {
  content: "\f00d";
}
.ik-remove:before {
  content: "\f00d";
}
.ik-times:before {
  content: "\f00d";
}
.ik-search-plus:before {
  content: "\f00e";
}
.ik-search-minus:before {
  content: "\f010";
}
.ik-power-off:before {
  content: "\f011";
}
.ik-signal:before {
  content: "\f012";
}
.ik-cog:before {
  content: "\f013";
}
.ik-gear:before {
  content: "\f013";
}
.ik-trash-o:before {
  content: "\f014";
}
.ik-home:before {
  content: "\f015";
}
.ik-file-o:before {
  content: "\f016";
}
.ik-clock-o:before {
  content: "\f017";
}
.ik-road:before {
  content: "\f018";
}
.ik-download:before {
  content: "\f019";
}
.ik-arrow-circle-o-down:before {
  content: "\f01a";
}
.ik-arrow-circle-o-up:before {
  content: "\f01b";
}
.ik-inbox:before {
  content: "\f01c";
}
.ik-play-circle-o:before {
  content: "\f01d";
}
.ik-repeat:before {
  content: "\f01e";
}
.ik-rotate-right:before {
  content: "\f01e";
}
.ik-refresh:before {
  content: "\f021";
}
.ik-list-alt:before {
  content: "\f022";
}
.ik-lock:before {
  content: "\f023";
}
.ik-flag:before {
  content: "\f024";
}
.ik-headphones:before {
  content: "\f025";
}
.ik-volume-off:before {
  content: "\f026";
}
.ik-volume-down:before {
  content: "\f027";
}
.ik-volume-up:before {
  content: "\f028";
}
.ik-qrcode:before {
  content: "\f029";
}
.ik-barcode:before {
  content: "\f02a";
}
.ik-tag:before {
  content: "\f02b";
}
.ik-tags:before {
  content: "\f02c";
}
.ik-book:before {
  content: "\f02d";
}
.ik-bookmark:before {
  content: "\f02e";
}
.ik-print:before {
  content: "\f02f";
}
.ik-camera:before {
  content: "\f030";
}
.ik-font:before {
  content: "\f031";
}
.ik-bold:before {
  content: "\f032";
}
.ik-italic:before {
  content: "\f033";
}
.ik-text-height:before {
  content: "\f034";
}
.ik-text-width:before {
  content: "\f035";
}
.ik-align-left:before {
  content: "\f036";
}
.ik-align-center:before {
  content: "\f037";
}
.ik-align-right:before {
  content: "\f038";
}
.ik-align-justify:before {
  content: "\f039";
}
.ik-list:before {
  content: "\f03a";
}
.ik-dedent:before {
  content: "\f03b";
}
.ik-outdent:before {
  content: "\f03b";
}
.ik-indent:before {
  content: "\f03c";
}
.ik-video-camera:before {
  content: "\f03d";
}
.ik-image:before {
  content: "\f03e";
}
.ik-photo:before {
  content: "\f03e";
}
.ik-picture-o:before {
  content: "\f03e";
}
.ik-pencil:before {
  content: "\f040";
}
.ik-map-marker:before {
  content: "\f041";
}
.ik-adjust:before {
  content: "\f042";
}
.ik-tint:before {
  content: "\f043";
}
.ik-edit:before {
  content: "\f044";
}
.ik-pencil-square-o:before {
  content: "\f044";
}
.ik-share-square-o:before {
  content: "\f045";
}
.ik-check-square-o:before {
  content: "\f046";
}
.ik-arrows:before {
  content: "\f047";
}
.ik-step-backward:before {
  content: "\f048";
}
.ik-fast-backward:before {
  content: "\f049";
}
.ik-backward:before {
  content: "\f04a";
}
.ik-play:before {
  content: "\f04b";
}
.ik-pause:before {
  content: "\f04c";
}
.ik-stop:before {
  content: "\f04d";
}
.ik-forward:before {
  content: "\f04e";
}
.ik-fast-forward:before {
  content: "\f050";
}
.ik-step-forward:before {
  content: "\f051";
}
.ik-eject:before {
  content: "\f052";
}
.ik-chevron-left:before {
  content: "\f053";
}
.ik-chevron-right:before {
  content: "\f054";
}
.ik-plus-circle:before {
  content: "\f055";
}
.ik-minus-circle:before {
  content: "\f056";
}
.ik-times-circle:before {
  content: "\f057";
}
.ik-check-circle:before {
  content: "\f058";
}
.ik-question-circle:before {
  content: "\f059";
}
.ik-info-circle:before {
  content: "\f05a";
}
.ik-crosshairs:before {
  content: "\f05b";
}
.ik-times-circle-o:before {
  content: "\f05c";
}
.ik-check-circle-o:before {
  content: "\f05d";
}
.ik-ban:before {
  content: "\f05e";
}
.ik-arrow-left:before {
  content: "\f060";
}
.ik-arrow-right:before {
  content: "\f061";
}
.ik-arrow-up:before {
  content: "\f062";
}
.ik-arrow-down:before {
  content: "\f063";
}
.ik-mail-forward:before {
  content: "\f064";
}
.ik-share:before {
  content: "\f064";
}
.ik-expand:before {
  content: "\f065";
}
.ik-compress:before {
  content: "\f066";
}
.ik-exclamation-circle:before {
  content: "\f06a";
}
.ik-gift:before {
  content: "\f06b";
}
.ik-leaf:before {
  content: "\f06c";
}
.ik-fire:before {
  content: "\f06d";
}
.ik-eye:before {
  content: "\f06e";
}
.ik-eye-slash:before {
  content: "\f070";
}
.ik-exclamation-triangle:before {
  content: "\f071";
}
.ik-warning:before {
  content: "\f071";
}
.ik-plane:before {
  content: "\f072";
}
.ik-calendar:before {
  content: "\f073";
}
.ik-random:before {
  content: "\f074";
}
.ik-comment:before {
  content: "\f075";
}
.ik-magnet:before {
  content: "\f076";
}
.ik-chevron-up:before {
  content: "\f077";
}
.ik-chevron-down:before {
  content: "\f078";
}
.ik-retweet:before {
  content: "\f079";
}
.ik-shopping-cart:before {
  content: "\f07a";
}
.ik-folder:before {
  content: "\f07b";
}
.ik-folder-open:before {
  content: "\f07c";
}
.ik-arrows-v:before {
  content: "\f07d";
}
.ik-arrows-h:before {
  content: "\f07e";
}
.ik-bar-chart:before {
  content: "\f080";
}
.ik-bar-chart-o:before {
  content: "\f080";
}
.ik-twitter-square:before {
  content: "\f081";
}
.ik-facebook-square:before {
  content: "\f082";
}
.ik-camera-retro:before {
  content: "\f083";
}
.ik-key:before {
  content: "\f084";
}
.ik-cogs:before {
  content: "\f085";
}
.ik-gears:before {
  content: "\f085";
}
.ik-comments:before {
  content: "\f086";
}
.ik-thumbs-o-up:before {
  content: "\f087";
}
.ik-thumbs-o-down:before {
  content: "\f088";
}
.ik-star-half:before {
  content: "\f089";
}
.ik-heart-o:before {
  content: "\f08a";
}
.ik-sign-out:before {
  content: "\f08b";
}
.ik-linkedin-square:before {
  content: "\f08c";
}
.ik-thumb-tack:before {
  content: "\f08d";
}
.ik-external-link:before {
  content: "\f08e";
}
.ik-sign-in:before {
  content: "\f090";
}
.ik-trophy:before {
  content: "\f091";
}
.ik-github-square:before {
  content: "\f092";
}
.ik-upload:before {
  content: "\f093";
}
.ik-lemon-o:before {
  content: "\f094";
}
.ik-phone:before {
  content: "\f095";
}
.ik-square-o:before {
  content: "\f096";
}
.ik-bookmark-o:before {
  content: "\f097";
}
.ik-phone-square:before {
  content: "\f098";
}
.ik-twitter:before {
  content: "\f099";
}
.ik-facebook:before {
  content: "\f09a";
}
.ik-facebook-f:before {
  content: "\f09a";
}
.ik-github:before {
  content: "\f09b";
}
.ik-unlock:before {
  content: "\f09c";
}
.ik-credit-card:before {
  content: "\f09d";
}
.ik-feed:before {
  content: "\f09e";
}
.ik-rss:before {
  content: "\f09e";
}
.ik-hdd-o:before {
  content: "\f0a0";
}
.ik-bullhorn:before {
  content: "\f0a1";
}
.ik-bell-o:before {
  content: "\f0a2";
}
.ik-certificate:before {
  content: "\f0a3";
}
.ik-hand-o-right:before {
  content: "\f0a4";
}
.ik-hand-o-left:before {
  content: "\f0a5";
}
.ik-hand-o-up:before {
  content: "\f0a6";
}
.ik-hand-o-down:before {
  content: "\f0a7";
}
.ik-arrow-circle-left:before {
  content: "\f0a8";
}
.ik-arrow-circle-right:before {
  content: "\f0a9";
}
.ik-arrow-circle-up:before {
  content: "\f0aa";
}
.ik-arrow-circle-down:before {
  content: "\f0ab";
}
.ik-globe:before {
  content: "\f0ac";
}
.ik-wrench:before {
  content: "\f0ad";
}
.ik-tasks:before {
  content: "\f0ae";
}
.ik-filter:before {
  content: "\f0b0";
}
.ik-briefcase:before {
  content: "\f0b1";
}
.ik-arrows-alt:before {
  content: "\f0b2";
}
.ik-group:before {
  content: "\f0c0";
}
.ik-users:before {
  content: "\f0c0";
}
.ik-chain:before {
  content: "\f0c1";
}
.ik-link:before {
  content: "\f0c1";
}
.ik-cloud:before {
  content: "\f0c2";
}
.ik-flask:before {
  content: "\f0c3";
}
.ik-cut:before {
  content: "\f0c4";
}
.ik-scissors:before {
  content: "\f0c4";
}
.ik-copy:before {
  content: "\f0c5";
}
.ik-files-o:before {
  content: "\f0c5";
}
.ik-paperclip:before {
  content: "\f0c6";
}
.ik-floppy-o:before {
  content: "\f0c7";
}
.ik-save:before {
  content: "\f0c7";
}
.ik-square:before {
  content: "\f0c8";
}
.ik-bars:before {
  content: "\f0c9";
}
.ik-navicon:before {
  content: "\f0c9";
}
.ik-reorder:before {
  content: "\f0c9";
}
.ik-list-ul:before {
  content: "\f0ca";
}
.ik-list-ol:before {
  content: "\f0cb";
}
.ik-strikethrough:before {
  content: "\f0cc";
}
.ik-underline:before {
  content: "\f0cd";
}
.ik-table:before {
  content: "\f0ce";
}
.ik-magic:before {
  content: "\f0d0";
}
.ik-truck:before {
  content: "\f0d1";
}
.ik-pinterest:before {
  content: "\f0d2";
}
.ik-pinterest-square:before {
  content: "\f0d3";
}
.ik-google-plus-square:before {
  content: "\f0d4";
}
.ik-google-plus:before {
  content: "\f0d5";
}
.ik-money:before {
  content: "\f0d6";
}
.ik-caret-down:before {
  content: "\f0d7";
}
.ik-caret-up:before {
  content: "\f0d8";
}
.ik-caret-left:before {
  content: "\f0d9";
}
.ik-caret-right:before {
  content: "\f0da";
}
.ik-columns:before {
  content: "\f0db";
}
.ik-sort:before {
  content: "\f0dc";
}
.ik-unsorted:before {
  content: "\f0dc";
}
.ik-sort-desc:before {
  content: "\f0dd";
}
.ik-sort-down:before {
  content: "\f0dd";
}
.ik-sort-asc:before {
  content: "\f0de";
}
.ik-sort-up:before {
  content: "\f0de";
}
.ik-envelope:before {
  content: "\f0e0";
}
.ik-linkedin:before {
  content: "\f0e1";
}
.ik-rotate-left:before {
  content: "\f0e2";
}
.ik-undo:before {
  content: "\f0e2";
}
.ik-gavel:before {
  content: "\f0e3";
}
.ik-legal:before {
  content: "\f0e3";
}
.ik-dashboard:before {
  content: "\f0e4";
}
.ik-tachometer:before {
  content: "\f0e4";
}
.ik-comment-o:before {
  content: "\f0e5";
}
.ik-comments-o:before {
  content: "\f0e6";
}
.ik-bolt:before {
  content: "\f0e7";
}
.ik-flash:before {
  content: "\f0e7";
}
.ik-sitemap:before {
  content: "\f0e8";
}
.ik-umbrella:before {
  content: "\f0e9";
}
.ik-clipboard:before {
  content: "\f0ea";
}
.ik-paste:before {
  content: "\f0ea";
}
.ik-lightbulb-o:before {
  content: "\f0eb";
}
.ik-exchange:before {
  content: "\f0ec";
}
.ik-cloud-download:before {
  content: "\f0ed";
}
.ik-cloud-upload:before {
  content: "\f0ee";
}
.ik-user-md:before {
  content: "\f0f0";
}
.ik-stethoscope:before {
  content: "\f0f1";
}
.ik-suitcase:before {
  content: "\f0f2";
}
.ik-bell:before {
  content: "\f0f3";
}
.ik-coffee:before {
  content: "\f0f4";
}
.ik-cutlery:before {
  content: "\f0f5";
}
.ik-file-text-o:before {
  content: "\f0f6";
}
.ik-building-o:before {
  content: "\f0f7";
}
.ik-hospital-o:before {
  content: "\f0f8";
}
.ik-ambulance:before {
  content: "\f0f9";
}
.ik-medkit:before {
  content: "\f0fa";
}
.ik-fighter-jet:before {
  content: "\f0fb";
}
.ik-beer:before {
  content: "\f0fc";
}
.ik-h-square:before {
  content: "\f0fd";
}
.ik-plus-square:before {
  content: "\f0fe";
}
.ik-angle-double-left:before {
  content: "\f100";
}
.ik-angle-double-right:before {
  content: "\f101";
}
.ik-angle-double-up:before {
  content: "\f102";
}
.ik-angle-double-down:before {
  content: "\f103";
}
.ik-angle-left:before {
  content: "\f104";
}
.ik-angle-right:before {
  content: "\f105";
}
.ik-angle-up:before {
  content: "\f106";
}
.ik-angle-down:before {
  content: "\f107";
}
.ik-desktop:before {
  content: "\f108";
}
.ik-laptop:before {
  content: "\f109";
}
.ik-tablet:before {
  content: "\f10a";
}
.ik-mobile:before {
  content: "\f10b";
}
.ik-mobile-phone:before {
  content: "\f10b";
}
.ik-circle-o:before {
  content: "\f10c";
}
.ik-quote-left:before {
  content: "\f10d";
}
.ik-quote-right:before {
  content: "\f10e";
}
.ik-spinner:before {
  content: "\f110";
}
.ik-circle:before {
  content: "\f111";
}
.ik-mail-reply:before {
  content: "\f112";
}
.ik-reply:before {
  content: "\f112";
}
.ik-github-alt:before {
  content: "\f113";
}
.ik-folder-o:before {
  content: "\f114";
}
.ik-folder-open-o:before {
  content: "\f115";
}
.ik-smile-o:before {
  content: "\f118";
}
.ik-frown-o:before {
  content: "\f119";
}
.ik-meh-o:before {
  content: "\f11a";
}
.ik-gamepad:before {
  content: "\f11b";
}
.ik-keyboard-o:before {
  content: "\f11c";
}
.ik-flag-o:before {
  content: "\f11d";
}
.ik-flag-checkered:before {
  content: "\f11e";
}
.ik-terminal:before {
  content: "\f120";
}
.ik-code:before {
  content: "\f121";
}
.ik-mail-reply-all:before {
  content: "\f122";
}
.ik-reply-all:before {
  content: "\f122";
}
.ik-star-half-empty:before {
  content: "\f123";
}
.ik-star-half-full:before {
  content: "\f123";
}
.ik-star-half-o:before {
  content: "\f123";
}
.ik-location-arrow:before {
  content: "\f124";
}
.ik-crop:before {
  content: "\f125";
}
.ik-code-fork:before {
  content: "\f126";
}
.ik-chain-broken:before {
  content: "\f127";
}
.ik-unlink:before {
  content: "\f127";
}
.ik-info:before {
  content: "\f129";
}
.ik-exclamation:before {
  content: "\f12a";
}
.ik-superscript:before {
  content: "\f12b";
}
.ik-subscript:before {
  content: "\f12c";
}
.ik-eraser:before {
  content: "\f12d";
}
.ik-puzzle-piece:before {
  content: "\f12e";
}
.ik-microphone:before {
  content: "\f130";
}
.ik-microphone-slash:before {
  content: "\f131";
}
.ik-shield:before {
  content: "\f132";
}
.ik-calendar-o:before {
  content: "\f133";
}
.ik-fire-extinguisher:before {
  content: "\f134";
}
.ik-rocket:before {
  content: "\f135";
}
.ik-maxcdn:before {
  content: "\f136";
}
.ik-chevron-circle-left:before {
  content: "\f137";
}
.ik-chevron-circle-right:before {
  content: "\f138";
}
.ik-chevron-circle-up:before {
  content: "\f139";
}
.ik-chevron-circle-down:before {
  content: "\f13a";
}
.ik-html5:before {
  content: "\f13b";
}
.ik-css3:before {
  content: "\f13c";
}
.ik-anchor:before {
  content: "\f13d";
}
.ik-unlock-alt:before {
  content: "\f13e";
}
.ik-bullseye:before {
  content: "\f140";
}
.ik-ellipsis-h:before {
  content: "\f141";
}
.ik-ellipsis-v:before {
  content: "\f142";
}
.ik-rss-square:before {
  content: "\f143";
}
.ik-play-circle:before {
  content: "\f144";
}
.ik-ticket:before {
  content: "\f145";
}
.ik-minus-square:before {
  content: "\f146";
}
.ik-minus-square-o:before {
  content: "\f147";
}
.ik-level-up:before {
  content: "\f148";
}
.ik-level-down:before {
  content: "\f149";
}
.ik-check-square:before {
  content: "\f14a";
}
.ik-pencil-square:before {
  content: "\f14b";
}
.ik-external-link-square:before {
  content: "\f14c";
}
.ik-share-square:before {
  content: "\f14d";
}
.ik-compass:before {
  content: "\f14e";
}
.ik-caret-square-o-down:before {
  content: "\f150";
}
.ik-toggle-down:before {
  content: "\f150";
}
.ik-caret-square-o-up:before {
  content: "\f151";
}
.ik-toggle-up:before {
  content: "\f151";
}
.ik-caret-square-o-right:before {
  content: "\f152";
}
.ik-toggle-right:before {
  content: "\f152";
}
.ik-eur:before {
  content: "\f153";
}
.ik-euro:before {
  content: "\f153";
}
.ik-gbp:before {
  content: "\f154";
}
.ik-dollar:before {
  content: "\f155";
}
.ik-usd:before {
  content: "\f155";
}
.ik-inr:before {
  content: "\f156";
}
.ik-rupee:before {
  content: "\f156";
}
.ik-cny:before {
  content: "\f157";
}
.ik-jpy:before {
  content: "\f157";
}
.ik-rmb:before {
  content: "\f157";
}
.ik-yen:before {
  content: "\f157";
}
.ik-rouble:before {
  content: "\f158";
}
.ik-rub:before {
  content: "\f158";
}
.ik-ruble:before {
  content: "\f158";
}
.ik-krw:before {
  content: "\f159";
}
.ik-won:before {
  content: "\f159";
}
.ik-bitcoin:before {
  content: "\f15a";
}
.ik-btc:before {
  content: "\f15a";
}
.ik-file:before {
  content: "\f15b";
}
.ik-file-text:before {
  content: "\f15c";
}
.ik-sort-alpha-asc:before {
  content: "\f15d";
}
.ik-sort-alpha-desc:before {
  content: "\f15e";
}
.ik-sort-amount-asc:before {
  content: "\f160";
}
.ik-sort-amount-desc:before {
  content: "\f161";
}
.ik-sort-numeric-asc:before {
  content: "\f162";
}
.ik-sort-numeric-desc:before {
  content: "\f163";
}
.ik-thumbs-up:before {
  content: "\f164";
}
.ik-thumbs-down:before {
  content: "\f165";
}
.ik-youtube-square:before {
  content: "\f166";
}
.ik-youtube:before {
  content: "\f167";
}
.ik-xing:before {
  content: "\f168";
}
.ik-xing-square:before {
  content: "\f169";
}
.ik-youtube-play:before {
  content: "\f16a";
}
.ik-dropbox:before {
  content: "\f16b";
}
.ik-stack-overflow:before {
  content: "\f16c";
}
.ik-instagram:before {
  content: "\f16d";
}
.ik-flickr:before {
  content: "\f16e";
}
.ik-adn:before {
  content: "\f170";
}
.ik-bitbucket:before {
  content: "\f171";
}
.ik-bitbucket-square:before {
  content: "\f172";
}
.ik-tumblr:before {
  content: "\f173";
}
.ik-tumblr-square:before {
  content: "\f174";
}
.ik-long-arrow-down:before {
  content: "\f175";
}
.ik-long-arrow-up:before {
  content: "\f176";
}
.ik-long-arrow-left:before {
  content: "\f177";
}
.ik-long-arrow-right:before {
  content: "\f178";
}
.ik-apple:before {
  content: "\f179";
}
.ik-windows:before {
  content: "\f17a";
}
.ik-android:before {
  content: "\f17b";
}
.ik-linux:before {
  content: "\f17c";
}
.ik-dribbble:before {
  content: "\f17d";
}
.ik-skype:before {
  content: "\f17e";
}
.ik-foursquare:before {
  content: "\f180";
}
.ik-trello:before {
  content: "\f181";
}
.ik-female:before {
  content: "\f182";
}
.ik-male:before {
  content: "\f183";
}
.ik-gittip:before {
  content: "\f184";
}
.ik-gratipay:before {
  content: "\f184";
}
.ik-sun-o:before {
  content: "\f185";
}
.ik-moon-o:before {
  content: "\f186";
}
.ik-archive:before {
  content: "\f187";
}
.ik-bug:before {
  content: "\f188";
}
.ik-vk:before {
  content: "\f189";
}
.ik-weibo:before {
  content: "\f18a";
}
.ik-renren:before {
  content: "\f18b";
}
.ik-pagelines:before {
  content: "\f18c";
}
.ik-stack-exchange:before {
  content: "\f18d";
}
.ik-arrow-circle-o-right:before {
  content: "\f18e";
}
.ik-arrow-circle-o-left:before {
  content: "\f190";
}
.ik-caret-square-o-left:before {
  content: "\f191";
}
.ik-toggle-left:before {
  content: "\f191";
}
.ik-dot-circle-o:before {
  content: "\f192";
}
.ik-wheelchair:before {
  content: "\f193";
}
.ik-vimeo-square:before {
  content: "\f194";
}
.ik-try:before {
  content: "\f195";
}
.ik-turkish-lira:before {
  content: "\f195";
}
.ik-plus-square-o:before {
  content: "\f196";
}
.ik-space-shuttle:before {
  content: "\f197";
}
.ik-slack:before {
  content: "\f198";
}
.ik-envelope-square:before {
  content: "\f199";
}
.ik-wordpress:before {
  content: "\f19a";
}
.ik-openid:before {
  content: "\f19b";
}
.ik-bank:before {
  content: "\f19c";
}
.ik-institution:before {
  content: "\f19c";
}
.ik-university:before {
  content: "\f19c";
}
.ik-graduation-cap:before {
  content: "\f19d";
}
.ik-mortar-board:before {
  content: "\f19d";
}
.ik-yahoo:before {
  content: "\f19e";
}
.ik-google:before {
  content: "\f1a0";
}
.ik-reddit:before {
  content: "\f1a1";
}
.ik-reddit-square:before {
  content: "\f1a2";
}
.ik-stumbleupon-circle:before {
  content: "\f1a3";
}
.ik-stumbleupon:before {
  content: "\f1a4";
}
.ik-delicious:before {
  content: "\f1a5";
}
.ik-digg:before {
  content: "\f1a6";
}
.ik-pied-piper-pp:before {
  content: "\f1a7";
}
.ik-pied-piper-alt:before {
  content: "\f1a8";
}
.ik-drupal:before {
  content: "\f1a9";
}
.ik-joomla:before {
  content: "\f1aa";
}
.ik-language:before {
  content: "\f1ab";
}
.ik-fax:before {
  content: "\f1ac";
}
.ik-building:before {
  content: "\f1ad";
}
.ik-child:before {
  content: "\f1ae";
}
.ik-paw:before {
  content: "\f1b0";
}
.ik-spoon:before {
  content: "\f1b1";
}
.ik-cube:before {
  content: "\f1b2";
}
.ik-cubes:before {
  content: "\f1b3";
}
.ik-behance:before {
  content: "\f1b4";
}
.ik-behance-square:before {
  content: "\f1b5";
}
.ik-steam:before {
  content: "\f1b6";
}
.ik-steam-square:before {
  content: "\f1b7";
}
.ik-recycle:before {
  content: "\f1b8";
}
.ik-automobile:before {
  content: "\f1b9";
}
.ik-car:before {
  content: "\f1b9";
}
.ik-cab:before {
  content: "\f1ba";
}
.ik-taxi:before {
  content: "\f1ba";
}
.ik-tree:before {
  content: "\f1bb";
}
.ik-spotify:before {
  content: "\f1bc";
}
.ik-deviantart:before {
  content: "\f1bd";
}
.ik-soundcloud:before {
  content: "\f1be";
}
.ik-database:before {
  content: "\f1c0";
}
.ik-file-pdf-o:before {
  content: "\f1c1";
}
.ik-file-word-o:before {
  content: "\f1c2";
}
.ik-file-excel-o:before {
  content: "\f1c3";
}
.ik-file-powerpoint-o:before {
  content: "\f1c4";
}
.ik-file-image-o:before {
  content: "\f1c5";
}
.ik-file-photo-o:before {
  content: "\f1c5";
}
.ik-file-picture-o:before {
  content: "\f1c5";
}
.ik-file-archive-o:before {
  content: "\f1c6";
}
.ik-file-zip-o:before {
  content: "\f1c6";
}
.ik-file-audio-o:before {
  content: "\f1c7";
}
.ik-file-sound-o:before {
  content: "\f1c7";
}
.ik-file-movie-o:before {
  content: "\f1c8";
}
.ik-file-video-o:before {
  content: "\f1c8";
}
.ik-file-code-o:before {
  content: "\f1c9";
}
.ik-vine:before {
  content: "\f1ca";
}
.ik-codepen:before {
  content: "\f1cb";
}
.ik-jsfiddle:before {
  content: "\f1cc";
}
.ik-life-bouy:before {
  content: "\f1cd";
}
.ik-life-buoy:before {
  content: "\f1cd";
}
.ik-life-ring:before {
  content: "\f1cd";
}
.ik-life-saver:before {
  content: "\f1cd";
}
.ik-support:before {
  content: "\f1cd";
}
.ik-circle-o-notch:before {
  content: "\f1ce";
}
.ik-ra:before {
  content: "\f1d0";
}
.ik-rebel:before {
  content: "\f1d0";
}
.ik-resistance:before {
  content: "\f1d0";
}
.ik-empire:before {
  content: "\f1d1";
}
.ik-ge:before {
  content: "\f1d1";
}
.ik-git-square:before {
  content: "\f1d2";
}
.ik-git:before {
  content: "\f1d3";
}
.ik-hacker-news:before {
  content: "\f1d4";
}
.ik-y-combinator-square:before {
  content: "\f1d4";
}
.ik-yc-square:before {
  content: "\f1d4";
}
.ik-tencent-weibo:before {
  content: "\f1d5";
}
.ik-qq:before {
  content: "\f1d6";
}
.ik-wechat:before {
  content: "\f1d7";
}
.ik-weixin:before {
  content: "\f1d7";
}
.ik-paper-plane:before {
  content: "\f1d8";
}
.ik-send:before {
  content: "\f1d8";
}
.ik-paper-plane-o:before {
  content: "\f1d9";
}
.ik-send-o:before {
  content: "\f1d9";
}
.ik-history:before {
  content: "\f1da";
}
.ik-circle-thin:before {
  content: "\f1db";
}
.ik-header:before {
  content: "\f1dc";
}
.ik-paragraph:before {
  content: "\f1dd";
}
.ik-sliders:before {
  content: "\f1de";
}
.ik-share-alt:before {
  content: "\f1e0";
}
.ik-share-alt-square:before {
  content: "\f1e1";
}
.ik-bomb:before {
  content: "\f1e2";
}
.ik-futbol-o:before {
  content: "\f1e3";
}
.ik-soccer-ball-o:before {
  content: "\f1e3";
}
.ik-tty:before {
  content: "\f1e4";
}
.ik-binoculars:before {
  content: "\f1e5";
}
.ik-plug:before {
  content: "\f1e6";
}
.ik-slideshare:before {
  content: "\f1e7";
}
.ik-twitch:before {
  content: "\f1e8";
}
.ik-yelp:before {
  content: "\f1e9";
}
.ik-newspaper-o:before {
  content: "\f1ea";
}
.ik-wifi:before {
  content: "\f1eb";
}
.ik-calculator:before {
  content: "\f1ec";
}
.ik-paypal:before {
  content: "\f1ed";
}
.ik-google-wallet:before {
  content: "\f1ee";
}
.ik-cc-visa:before {
  content: "\f1f0";
}
.ik-cc-mastercard:before {
  content: "\f1f1";
}
.ik-cc-discover:before {
  content: "\f1f2";
}
.ik-cc-amex:before {
  content: "\f1f3";
}
.ik-cc-paypal:before {
  content: "\f1f4";
}
.ik-cc-stripe:before {
  content: "\f1f5";
}
.ik-bell-slash:before {
  content: "\f1f6";
}
.ik-bell-slash-o:before {
  content: "\f1f7";
}
.ik-trash:before {
  content: "\f1f8";
}
.ik-copyright:before {
  content: "\f1f9";
}
.ik-at:before {
  content: "\f1fa";
}
.ik-eyedropper:before {
  content: "\f1fb";
}
.ik-paint-brush:before {
  content: "\f1fc";
}
.ik-birthday-cake:before {
  content: "\f1fd";
}
.ik-area-chart:before {
  content: "\f1fe";
}
.ik-pie-chart:before {
  content: "\f200";
}
.ik-line-chart:before {
  content: "\f201";
}
.ik-lastfm:before {
  content: "\f202";
}
.ik-lastfm-square:before {
  content: "\f203";
}
.ik-toggle-off:before {
  content: "\f204";
}
.ik-toggle-on:before {
  content: "\f205";
}
.ik-bicycle:before {
  content: "\f206";
}
.ik-bus:before {
  content: "\f207";
}
.ik-ioxhost:before {
  content: "\f208";
}
.ik-angellist:before {
  content: "\f209";
}
.ik-cc:before {
  content: "\f20a";
}
.ik-ils:before {
  content: "\f20b";
}
.ik-shekel:before {
  content: "\f20b";
}
.ik-sheqel:before {
  content: "\f20b";
}
.ik-meanpath:before {
  content: "\f20c";
}
.ik-buysellads:before {
  content: "\f20d";
}
.ik-connectdevelop:before {
  content: "\f20e";
}
.ik-dashcube:before {
  content: "\f210";
}
.ik-forumbee:before {
  content: "\f211";
}
.ik-leanpub:before {
  content: "\f212";
}
.ik-sellsy:before {
  content: "\f213";
}
.ik-shirtsinbulk:before {
  content: "\f214";
}
.ik-simplybuilt:before {
  content: "\f215";
}
.ik-skyatlas:before {
  content: "\f216";
}
.ik-cart-plus:before {
  content: "\f217";
}
.ik-cart-arrow-down:before {
  content: "\f218";
}
.ik-diamond:before {
  content: "\f219";
}
.ik-ship:before {
  content: "\f21a";
}
.ik-user-secret:before {
  content: "\f21b";
}
.ik-motorcycle:before {
  content: "\f21c";
}
.ik-street-view:before {
  content: "\f21d";
}
.ik-heartbeat:before {
  content: "\f21e";
}
.ik-venus:before {
  content: "\f221";
}
.ik-mars:before {
  content: "\f222";
}
.ik-mercury:before {
  content: "\f223";
}
.ik-intersex:before {
  content: "\f224";
}
.ik-transgender:before {
  content: "\f224";
}
.ik-transgender-alt:before {
  content: "\f225";
}
.ik-venus-double:before {
  content: "\f226";
}
.ik-mars-double:before {
  content: "\f227";
}
.ik-venus-mars:before {
  content: "\f228";
}
.ik-mars-stroke:before {
  content: "\f229";
}
.ik-mars-stroke-v:before {
  content: "\f22a";
}
.ik-mars-stroke-h:before {
  content: "\f22b";
}
.ik-neuter:before {
  content: "\f22c";
}
.ik-genderless:before {
  content: "\f22d";
}
.ik-facebook-official:before {
  content: "\f230";
}
.ik-pinterest-p:before {
  content: "\f231";
}
.ik-whatsapp:before {
  content: "\f232";
}
.ik-server:before {
  content: "\f233";
}
.ik-user-plus:before {
  content: "\f234";
}
.ik-user-times:before {
  content: "\f235";
}
.ik-bed:before {
  content: "\f236";
}
.ik-hotel:before {
  content: "\f236";
}
.ik-viacoin:before {
  content: "\f237";
}
.ik-train:before {
  content: "\f238";
}
.ik-subway:before {
  content: "\f239";
}
.ik-medium:before {
  content: "\f23a";
}
.ik-y-combinator:before {
  content: "\f23b";
}
.ik-yc:before {
  content: "\f23b";
}
.ik-optin-monster:before {
  content: "\f23c";
}
.ik-opencart:before {
  content: "\f23d";
}
.ik-expeditedssl:before {
  content: "\f23e";
}
.ik-battery:before {
  content: "\f240";
}
.ik-battery-4:before {
  content: "\f240";
}
.ik-battery-full:before {
  content: "\f240";
}
.ik-battery-3:before {
  content: "\f241";
}
.ik-battery-three-quarters:before {
  content: "\f241";
}
.ik-battery-2:before {
  content: "\f242";
}
.ik-battery-half:before {
  content: "\f242";
}
.ik-battery-1:before {
  content: "\f243";
}
.ik-battery-quarter:before {
  content: "\f243";
}
.ik-battery-0:before {
  content: "\f244";
}
.ik-battery-empty:before {
  content: "\f244";
}
.ik-mouse-pointer:before {
  content: "\f245";
}
.ik-i-cursor:before {
  content: "\f246";
}
.ik-object-group:before {
  content: "\f247";
}
.ik-object-ungroup:before {
  content: "\f248";
}
.ik-sticky-note:before {
  content: "\f249";
}
.ik-sticky-note-o:before {
  content: "\f24a";
}
.ik-cc-jcb:before {
  content: "\f24b";
}
.ik-cc-diners-club:before {
  content: "\f24c";
}
.ik-clone:before {
  content: "\f24d";
}
.ik-balance-scale:before {
  content: "\f24e";
}
.ik-hourglass-o:before {
  content: "\f250";
}
.ik-hourglass-1:before {
  content: "\f251";
}
.ik-hourglass-start:before {
  content: "\f251";
}
.ik-hourglass-2:before {
  content: "\f252";
}
.ik-hourglass-half:before {
  content: "\f252";
}
.ik-hourglass-3:before {
  content: "\f253";
}
.ik-hourglass-end:before {
  content: "\f253";
}
.ik-hourglass:before {
  content: "\f254";
}
.ik-hand-grab-o:before {
  content: "\f255";
}
.ik-hand-rock-o:before {
  content: "\f255";
}
.ik-hand-paper-o:before {
  content: "\f256";
}
.ik-hand-stop-o:before {
  content: "\f256";
}
.ik-hand-scissors-o:before {
  content: "\f257";
}
.ik-hand-lizard-o:before {
  content: "\f258";
}
.ik-hand-spock-o:before {
  content: "\f259";
}
.ik-hand-pointer-o:before {
  content: "\f25a";
}
.ik-hand-peace-o:before {
  content: "\f25b";
}
.ik-trademark:before {
  content: "\f25c";
}
.ik-registered:before {
  content: "\f25d";
}
.ik-creative-commons:before {
  content: "\f25e";
}
.ik-gg:before {
  content: "\f260";
}
.ik-gg-circle:before {
  content: "\f261";
}
.ik-tripadvisor:before {
  content: "\f262";
}
.ik-odnoklassniki:before {
  content: "\f263";
}
.ik-odnoklassniki-square:before {
  content: "\f264";
}
.ik-get-pocket:before {
  content: "\f265";
}
.ik-wikipedia-w:before {
  content: "\f266";
}
.ik-safari:before {
  content: "\f267";
}
.ik-chrome:before {
  content: "\f268";
}
.ik-firefox:before {
  content: "\f269";
}
.ik-opera:before {
  content: "\f26a";
}
.ik-internet-explorer:before {
  content: "\f26b";
}
.ik-television:before {
  content: "\f26c";
}
.ik-tv:before {
  content: "\f26c";
}
.ik-contao:before {
  content: "\f26d";
}
.ik-500px:before {
  content: "\f26e";
}
.ik-amazon:before {
  content: "\f270";
}
.ik-calendar-plus-o:before {
  content: "\f271";
}
.ik-calendar-minus-o:before {
  content: "\f272";
}
.ik-calendar-times-o:before {
  content: "\f273";
}
.ik-calendar-check-o:before {
  content: "\f274";
}
.ik-industry:before {
  content: "\f275";
}
.ik-map-pin:before {
  content: "\f276";
}
.ik-map-signs:before {
  content: "\f277";
}
.ik-map-o:before {
  content: "\f278";
}
.ik-map:before {
  content: "\f279";
}
.ik-commenting:before {
  content: "\f27a";
}
.ik-commenting-o:before {
  content: "\f27b";
}
.ik-houzz:before {
  content: "\f27c";
}
.ik-vimeo:before {
  content: "\f27d";
}
.ik-black-tie:before {
  content: "\f27e";
}
.ik-fonticons:before {
  content: "\f280";
}
.ik-reddit-alien:before {
  content: "\f281";
}
.ik-edge:before {
  content: "\f282";
}
.ik-credit-card-alt:before {
  content: "\f283";
}
.ik-codiepie:before {
  content: "\f284";
}
.ik-modx:before {
  content: "\f285";
}
.ik-fort-awesome:before {
  content: "\f286";
}
.ik-usb:before {
  content: "\f287";
}
.ik-product-hunt:before {
  content: "\f288";
}
.ik-mixcloud:before {
  content: "\f289";
}
.ik-scribd:before {
  content: "\f28a";
}
.ik-pause-circle:before {
  content: "\f28b";
}
.ik-pause-circle-o:before {
  content: "\f28c";
}
.ik-stop-circle:before {
  content: "\f28d";
}
.ik-stop-circle-o:before {
  content: "\f28e";
}
.ik-shopping-bag:before {
  content: "\f290";
}
.ik-shopping-basket:before {
  content: "\f291";
}
.ik-hashtag:before {
  content: "\f292";
}
.ik-bluetooth:before {
  content: "\f293";
}
.ik-bluetooth-b:before {
  content: "\f294";
}
.ik-percent:before {
  content: "\f295";
}
.ik-gitlab:before {
  content: "\f296";
}
.ik-wpbeginner:before {
  content: "\f297";
}
.ik-wpforms:before {
  content: "\f298";
}
.ik-envira:before {
  content: "\f299";
}
.ik-universal-access:before {
  content: "\f29a";
}
.ik-wheelchair-alt:before {
  content: "\f29b";
}
.ik-question-circle-o:before {
  content: "\f29c";
}
.ik-blind:before {
  content: "\f29d";
}
.ik-audio-description:before {
  content: "\f29e";
}
.ik-volume-control-phone:before {
  content: "\f2a0";
}
.ik-braille:before {
  content: "\f2a1";
}
.ik-assistive-listening-systems:before {
  content: "\f2a2";
}
.ik-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.ik-asl-interpreting:before {
  content: "\f2a3";
}
.ik-deaf:before {
  content: "\f2a4";
}
.ik-deafness:before {
  content: "\f2a4";
}
.ik-hard-of-hearing:before {
  content: "\f2a4";
}
.ik-glide:before {
  content: "\f2a5";
}
.ik-glide-g:before {
  content: "\f2a6";
}
.ik-sign-language:before {
  content: "\f2a7";
}
.ik-signing:before {
  content: "\f2a7";
}
.ik-low-vision:before {
  content: "\f2a8";
}
.ik-viadeo:before {
  content: "\f2a9";
}
.ik-viadeo-square:before {
  content: "\f2aa";
}
.ik-snapchat:before {
  content: "\f2ab";
}
.ik-snapchat-ghost:before {
  content: "\f2ac";
}
.ik-snapchat-square:before {
  content: "\f2ad";
}
.ik-pied-piper:before {
  content: "\f2ae";
}
.ik-first-order:before {
  content: "\f2b0";
}
.ik-yoast:before {
  content: "\f2b1";
}
.ik-themeisle:before {
  content: "\f2b2";
}
.ik-google-plus-circle:before {
  content: "\f2b3";
}
.ik-google-plus-official:before {
  content: "\f2b3";
}
.ik-fa:before {
  content: "\f2b4";
}
.ik-font-awesome:before {
  content: "\f2b4";
}
.ik-handshake-o:before {
  content: "\f2b5";
}
.ik-envelope-open:before {
  content: "\f2b6";
}
.ik-envelope-open-o:before {
  content: "\f2b7";
}
.ik-linode:before {
  content: "\f2b8";
}
.ik-address-book:before {
  content: "\f2b9";
}
.ik-address-book-o:before {
  content: "\f2ba";
}
.ik-address-card:before {
  content: "\f2bb";
}
.ik-vcard:before {
  content: "\f2bb";
}
.ik-address-card-o:before {
  content: "\f2bc";
}
.ik-vcard-o:before {
  content: "\f2bc";
}
.ik-user-circle:before {
  content: "\f2bd";
}
.ik-user-circle-o:before {
  content: "\f2be";
}
.ik-user-o:before {
  content: "\f2c0";
}
.ik-id-badge:before {
  content: "\f2c1";
}
.ik-drivers-license:before {
  content: "\f2c2";
}
.ik-id-card:before {
  content: "\f2c2";
}
.ik-drivers-license-o:before {
  content: "\f2c3";
}
.ik-id-card-o:before {
  content: "\f2c3";
}
.ik-quora:before {
  content: "\f2c4";
}
.ik-free-code-camp:before {
  content: "\f2c5";
}
.ik-telegram:before {
  content: "\f2c6";
}
.ik-thermometer:before {
  content: "\f2c7";
}
.ik-thermometer-4:before {
  content: "\f2c7";
}
.ik-thermometer-full:before {
  content: "\f2c7";
}
.ik-thermometer-3:before {
  content: "\f2c8";
}
.ik-thermometer-three-quarters:before {
  content: "\f2c8";
}
.ik-thermometer-2:before {
  content: "\f2c9";
}
.ik-thermometer-half:before {
  content: "\f2c9";
}
.ik-thermometer-1:before {
  content: "\f2ca";
}
.ik-thermometer-quarter:before {
  content: "\f2ca";
}
.ik-thermometer-0:before {
  content: "\f2cb";
}
.ik-thermometer-empty:before {
  content: "\f2cb";
}
.ik-shower:before {
  content: "\f2cc";
}
.ik-bath:before {
  content: "\f2cd";
}
.ik-bathtub:before {
  content: "\f2cd";
}
.ik-s15:before {
  content: "\f2cd";
}
.ik-podcast:before {
  content: "\f2ce";
}
.ik-window-maximize:before {
  content: "\f2d0";
}
.ik-window-minimize:before {
  content: "\f2d1";
}
.ik-window-restore:before {
  content: "\f2d2";
}
.ik-times-rectangle:before {
  content: "\f2d3";
}
.ik-window-close:before {
  content: "\f2d3";
}
.ik-times-rectangle-o:before {
  content: "\f2d4";
}
.ik-window-close-o:before {
  content: "\f2d4";
}
.ik-bandcamp:before {
  content: "\f2d5";
}
.ik-grav:before {
  content: "\f2d6";
}
.ik-etsy:before {
  content: "\f2d7";
}
.ik-imdb:before {
  content: "\f2d8";
}
.ik-ravelry:before {
  content: "\f2d9";
}
.ik-eercast:before {
  content: "\f2da";
}
.ik-microchip:before {
  content: "\f2db";
}
.ik-snowflake-o:before {
  content: "\f2dc";
}
.ik-superpowers:before {
  content: "\f2dd";
}
.ik-wpexplorer:before {
  content: "\f2de";
}
.ik-meetup:before {
  content: "\f2e0";
}

