$ik-logo-alt: "\e005";
$ik-logo: "\e006";
$ik-namaste: "\e900";
$ik-asterisk: "\f069";
$ik-plus: "\f067";
$ik-question: "\f128";
$ik-minus: "\f068";
$ik-glass: "\f000";
$ik-music: "\f001";
$ik-search: "\f002";
$ik-envelope-o: "\f003";
$ik-heart: "\f004";
$ik-star: "\f005";
$ik-star-o: "\f006";
$ik-user: "\f007";
$ik-film: "\f008";
$ik-th-large: "\f009";
$ik-th: "\f00a";
$ik-th-list: "\f00b";
$ik-check: "\f00c";
$ik-close: "\f00d";
$ik-remove: "\f00d";
$ik-times: "\f00d";
$ik-search-plus: "\f00e";
$ik-search-minus: "\f010";
$ik-power-off: "\f011";
$ik-signal: "\f012";
$ik-cog: "\f013";
$ik-gear: "\f013";
$ik-trash-o: "\f014";
$ik-home: "\f015";
$ik-file-o: "\f016";
$ik-clock-o: "\f017";
$ik-road: "\f018";
$ik-download: "\f019";
$ik-arrow-circle-o-down: "\f01a";
$ik-arrow-circle-o-up: "\f01b";
$ik-inbox: "\f01c";
$ik-play-circle-o: "\f01d";
$ik-repeat: "\f01e";
$ik-rotate-right: "\f01e";
$ik-refresh: "\f021";
$ik-list-alt: "\f022";
$ik-lock: "\f023";
$ik-flag: "\f024";
$ik-headphones: "\f025";
$ik-volume-off: "\f026";
$ik-volume-down: "\f027";
$ik-volume-up: "\f028";
$ik-qrcode: "\f029";
$ik-barcode: "\f02a";
$ik-tag: "\f02b";
$ik-tags: "\f02c";
$ik-book: "\f02d";
$ik-bookmark: "\f02e";
$ik-print: "\f02f";
$ik-camera: "\f030";
$ik-font: "\f031";
$ik-bold: "\f032";
$ik-italic: "\f033";
$ik-text-height: "\f034";
$ik-text-width: "\f035";
$ik-align-left: "\f036";
$ik-align-center: "\f037";
$ik-align-right: "\f038";
$ik-align-justify: "\f039";
$ik-list: "\f03a";
$ik-dedent: "\f03b";
$ik-outdent: "\f03b";
$ik-indent: "\f03c";
$ik-video-camera: "\f03d";
$ik-image: "\f03e";
$ik-photo: "\f03e";
$ik-picture-o: "\f03e";
$ik-pencil: "\f040";
$ik-map-marker: "\f041";
$ik-adjust: "\f042";
$ik-tint: "\f043";
$ik-edit: "\f044";
$ik-pencil-square-o: "\f044";
$ik-share-square-o: "\f045";
$ik-check-square-o: "\f046";
$ik-arrows: "\f047";
$ik-step-backward: "\f048";
$ik-fast-backward: "\f049";
$ik-backward: "\f04a";
$ik-play: "\f04b";
$ik-pause: "\f04c";
$ik-stop: "\f04d";
$ik-forward: "\f04e";
$ik-fast-forward: "\f050";
$ik-step-forward: "\f051";
$ik-eject: "\f052";
$ik-chevron-left: "\f053";
$ik-chevron-right: "\f054";
$ik-plus-circle: "\f055";
$ik-minus-circle: "\f056";
$ik-times-circle: "\f057";
$ik-check-circle: "\f058";
$ik-question-circle: "\f059";
$ik-info-circle: "\f05a";
$ik-crosshairs: "\f05b";
$ik-times-circle-o: "\f05c";
$ik-check-circle-o: "\f05d";
$ik-ban: "\f05e";
$ik-arrow-left: "\f060";
$ik-arrow-right: "\f061";
$ik-arrow-up: "\f062";
$ik-arrow-down: "\f063";
$ik-mail-forward: "\f064";
$ik-share: "\f064";
$ik-expand: "\f065";
$ik-compress: "\f066";
$ik-exclamation-circle: "\f06a";
$ik-gift: "\f06b";
$ik-leaf: "\f06c";
$ik-fire: "\f06d";
$ik-eye: "\f06e";
$ik-eye-slash: "\f070";
$ik-exclamation-triangle: "\f071";
$ik-warning: "\f071";
$ik-plane: "\f072";
$ik-calendar: "\f073";
$ik-random: "\f074";
$ik-comment: "\f075";
$ik-magnet: "\f076";
$ik-chevron-up: "\f077";
$ik-chevron-down: "\f078";
$ik-retweet: "\f079";
$ik-shopping-cart: "\f07a";
$ik-folder: "\f07b";
$ik-folder-open: "\f07c";
$ik-arrows-v: "\f07d";
$ik-arrows-h: "\f07e";
$ik-bar-chart: "\f080";
$ik-bar-chart-o: "\f080";
$ik-twitter-square: "\f081";
$ik-facebook-square: "\f082";
$ik-camera-retro: "\f083";
$ik-key: "\f084";
$ik-cogs: "\f085";
$ik-gears: "\f085";
$ik-comments: "\f086";
$ik-thumbs-o-up: "\f087";
$ik-thumbs-o-down: "\f088";
$ik-star-half: "\f089";
$ik-heart-o: "\f08a";
$ik-sign-out: "\f08b";
$ik-linkedin-square: "\f08c";
$ik-thumb-tack: "\f08d";
$ik-external-link: "\f08e";
$ik-sign-in: "\f090";
$ik-trophy: "\f091";
$ik-github-square: "\f092";
$ik-upload: "\f093";
$ik-lemon-o: "\f094";
$ik-phone: "\f095";
$ik-square-o: "\f096";
$ik-bookmark-o: "\f097";
$ik-phone-square: "\f098";
$ik-twitter: "\f099";
$ik-facebook: "\f09a";
$ik-facebook-f: "\f09a";
$ik-github: "\f09b";
$ik-unlock: "\f09c";
$ik-credit-card: "\f09d";
$ik-feed: "\f09e";
$ik-rss: "\f09e";
$ik-hdd-o: "\f0a0";
$ik-bullhorn: "\f0a1";
$ik-bell-o: "\f0a2";
$ik-certificate: "\f0a3";
$ik-hand-o-right: "\f0a4";
$ik-hand-o-left: "\f0a5";
$ik-hand-o-up: "\f0a6";
$ik-hand-o-down: "\f0a7";
$ik-arrow-circle-left: "\f0a8";
$ik-arrow-circle-right: "\f0a9";
$ik-arrow-circle-up: "\f0aa";
$ik-arrow-circle-down: "\f0ab";
$ik-globe: "\f0ac";
$ik-wrench: "\f0ad";
$ik-tasks: "\f0ae";
$ik-filter: "\f0b0";
$ik-briefcase: "\f0b1";
$ik-arrows-alt: "\f0b2";
$ik-group: "\f0c0";
$ik-users: "\f0c0";
$ik-chain: "\f0c1";
$ik-link: "\f0c1";
$ik-cloud: "\f0c2";
$ik-flask: "\f0c3";
$ik-cut: "\f0c4";
$ik-scissors: "\f0c4";
$ik-copy: "\f0c5";
$ik-files-o: "\f0c5";
$ik-paperclip: "\f0c6";
$ik-floppy-o: "\f0c7";
$ik-save: "\f0c7";
$ik-square: "\f0c8";
$ik-bars: "\f0c9";
$ik-navicon: "\f0c9";
$ik-reorder: "\f0c9";
$ik-list-ul: "\f0ca";
$ik-list-ol: "\f0cb";
$ik-strikethrough: "\f0cc";
$ik-underline: "\f0cd";
$ik-table: "\f0ce";
$ik-magic: "\f0d0";
$ik-truck: "\f0d1";
$ik-pinterest: "\f0d2";
$ik-pinterest-square: "\f0d3";
$ik-google-plus-square: "\f0d4";
$ik-google-plus: "\f0d5";
$ik-money: "\f0d6";
$ik-caret-down: "\f0d7";
$ik-caret-up: "\f0d8";
$ik-caret-left: "\f0d9";
$ik-caret-right: "\f0da";
$ik-columns: "\f0db";
$ik-sort: "\f0dc";
$ik-unsorted: "\f0dc";
$ik-sort-desc: "\f0dd";
$ik-sort-down: "\f0dd";
$ik-sort-asc: "\f0de";
$ik-sort-up: "\f0de";
$ik-envelope: "\f0e0";
$ik-linkedin: "\f0e1";
$ik-rotate-left: "\f0e2";
$ik-undo: "\f0e2";
$ik-gavel: "\f0e3";
$ik-legal: "\f0e3";
$ik-dashboard: "\f0e4";
$ik-tachometer: "\f0e4";
$ik-comment-o: "\f0e5";
$ik-comments-o: "\f0e6";
$ik-bolt: "\f0e7";
$ik-flash: "\f0e7";
$ik-sitemap: "\f0e8";
$ik-umbrella: "\f0e9";
$ik-clipboard: "\f0ea";
$ik-paste: "\f0ea";
$ik-lightbulb-o: "\f0eb";
$ik-exchange: "\f0ec";
$ik-cloud-download: "\f0ed";
$ik-cloud-upload: "\f0ee";
$ik-user-md: "\f0f0";
$ik-stethoscope: "\f0f1";
$ik-suitcase: "\f0f2";
$ik-bell: "\f0f3";
$ik-coffee: "\f0f4";
$ik-cutlery: "\f0f5";
$ik-file-text-o: "\f0f6";
$ik-building-o: "\f0f7";
$ik-hospital-o: "\f0f8";
$ik-ambulance: "\f0f9";
$ik-medkit: "\f0fa";
$ik-fighter-jet: "\f0fb";
$ik-beer: "\f0fc";
$ik-h-square: "\f0fd";
$ik-plus-square: "\f0fe";
$ik-angle-double-left: "\f100";
$ik-angle-double-right: "\f101";
$ik-angle-double-up: "\f102";
$ik-angle-double-down: "\f103";
$ik-angle-left: "\f104";
$ik-angle-right: "\f105";
$ik-angle-up: "\f106";
$ik-angle-down: "\f107";
$ik-desktop: "\f108";
$ik-laptop: "\f109";
$ik-tablet: "\f10a";
$ik-mobile: "\f10b";
$ik-mobile-phone: "\f10b";
$ik-circle-o: "\f10c";
$ik-quote-left: "\f10d";
$ik-quote-right: "\f10e";
$ik-spinner: "\f110";
$ik-circle: "\f111";
$ik-mail-reply: "\f112";
$ik-reply: "\f112";
$ik-github-alt: "\f113";
$ik-folder-o: "\f114";
$ik-folder-open-o: "\f115";
$ik-smile-o: "\f118";
$ik-frown-o: "\f119";
$ik-meh-o: "\f11a";
$ik-gamepad: "\f11b";
$ik-keyboard-o: "\f11c";
$ik-flag-o: "\f11d";
$ik-flag-checkered: "\f11e";
$ik-terminal: "\f120";
$ik-code: "\f121";
$ik-mail-reply-all: "\f122";
$ik-reply-all: "\f122";
$ik-star-half-empty: "\f123";
$ik-star-half-full: "\f123";
$ik-star-half-o: "\f123";
$ik-location-arrow: "\f124";
$ik-crop: "\f125";
$ik-code-fork: "\f126";
$ik-chain-broken: "\f127";
$ik-unlink: "\f127";
$ik-info: "\f129";
$ik-exclamation: "\f12a";
$ik-superscript: "\f12b";
$ik-subscript: "\f12c";
$ik-eraser: "\f12d";
$ik-puzzle-piece: "\f12e";
$ik-microphone: "\f130";
$ik-microphone-slash: "\f131";
$ik-shield: "\f132";
$ik-calendar-o: "\f133";
$ik-fire-extinguisher: "\f134";
$ik-rocket: "\f135";
$ik-maxcdn: "\f136";
$ik-chevron-circle-left: "\f137";
$ik-chevron-circle-right: "\f138";
$ik-chevron-circle-up: "\f139";
$ik-chevron-circle-down: "\f13a";
$ik-html5: "\f13b";
$ik-css3: "\f13c";
$ik-anchor: "\f13d";
$ik-unlock-alt: "\f13e";
$ik-bullseye: "\f140";
$ik-ellipsis-h: "\f141";
$ik-ellipsis-v: "\f142";
$ik-rss-square: "\f143";
$ik-play-circle: "\f144";
$ik-ticket: "\f145";
$ik-minus-square: "\f146";
$ik-minus-square-o: "\f147";
$ik-level-up: "\f148";
$ik-level-down: "\f149";
$ik-check-square: "\f14a";
$ik-pencil-square: "\f14b";
$ik-external-link-square: "\f14c";
$ik-share-square: "\f14d";
$ik-compass: "\f14e";
$ik-caret-square-o-down: "\f150";
$ik-toggle-down: "\f150";
$ik-caret-square-o-up: "\f151";
$ik-toggle-up: "\f151";
$ik-caret-square-o-right: "\f152";
$ik-toggle-right: "\f152";
$ik-eur: "\f153";
$ik-euro: "\f153";
$ik-gbp: "\f154";
$ik-dollar: "\f155";
$ik-usd: "\f155";
$ik-inr: "\f156";
$ik-rupee: "\f156";
$ik-cny: "\f157";
$ik-jpy: "\f157";
$ik-rmb: "\f157";
$ik-yen: "\f157";
$ik-rouble: "\f158";
$ik-rub: "\f158";
$ik-ruble: "\f158";
$ik-krw: "\f159";
$ik-won: "\f159";
$ik-bitcoin: "\f15a";
$ik-btc: "\f15a";
$ik-file: "\f15b";
$ik-file-text: "\f15c";
$ik-sort-alpha-asc: "\f15d";
$ik-sort-alpha-desc: "\f15e";
$ik-sort-amount-asc: "\f160";
$ik-sort-amount-desc: "\f161";
$ik-sort-numeric-asc: "\f162";
$ik-sort-numeric-desc: "\f163";
$ik-thumbs-up: "\f164";
$ik-thumbs-down: "\f165";
$ik-youtube-square: "\f166";
$ik-youtube: "\f167";
$ik-xing: "\f168";
$ik-xing-square: "\f169";
$ik-youtube-play: "\f16a";
$ik-dropbox: "\f16b";
$ik-stack-overflow: "\f16c";
$ik-instagram: "\f16d";
$ik-flickr: "\f16e";
$ik-adn: "\f170";
$ik-bitbucket: "\f171";
$ik-bitbucket-square: "\f172";
$ik-tumblr: "\f173";
$ik-tumblr-square: "\f174";
$ik-long-arrow-down: "\f175";
$ik-long-arrow-up: "\f176";
$ik-long-arrow-left: "\f177";
$ik-long-arrow-right: "\f178";
$ik-apple: "\f179";
$ik-windows: "\f17a";
$ik-android: "\f17b";
$ik-linux: "\f17c";
$ik-dribbble: "\f17d";
$ik-skype: "\f17e";
$ik-foursquare: "\f180";
$ik-trello: "\f181";
$ik-female: "\f182";
$ik-male: "\f183";
$ik-gittip: "\f184";
$ik-gratipay: "\f184";
$ik-sun-o: "\f185";
$ik-moon-o: "\f186";
$ik-archive: "\f187";
$ik-bug: "\f188";
$ik-vk: "\f189";
$ik-weibo: "\f18a";
$ik-renren: "\f18b";
$ik-pagelines: "\f18c";
$ik-stack-exchange: "\f18d";
$ik-arrow-circle-o-right: "\f18e";
$ik-arrow-circle-o-left: "\f190";
$ik-caret-square-o-left: "\f191";
$ik-toggle-left: "\f191";
$ik-dot-circle-o: "\f192";
$ik-wheelchair: "\f193";
$ik-vimeo-square: "\f194";
$ik-try: "\f195";
$ik-turkish-lira: "\f195";
$ik-plus-square-o: "\f196";
$ik-space-shuttle: "\f197";
$ik-slack: "\f198";
$ik-envelope-square: "\f199";
$ik-wordpress: "\f19a";
$ik-openid: "\f19b";
$ik-bank: "\f19c";
$ik-institution: "\f19c";
$ik-university: "\f19c";
$ik-graduation-cap: "\f19d";
$ik-mortar-board: "\f19d";
$ik-yahoo: "\f19e";
$ik-google: "\f1a0";
$ik-reddit: "\f1a1";
$ik-reddit-square: "\f1a2";
$ik-stumbleupon-circle: "\f1a3";
$ik-stumbleupon: "\f1a4";
$ik-delicious: "\f1a5";
$ik-digg: "\f1a6";
$ik-pied-piper-pp: "\f1a7";
$ik-pied-piper-alt: "\f1a8";
$ik-drupal: "\f1a9";
$ik-joomla: "\f1aa";
$ik-language: "\f1ab";
$ik-fax: "\f1ac";
$ik-building: "\f1ad";
$ik-child: "\f1ae";
$ik-paw: "\f1b0";
$ik-spoon: "\f1b1";
$ik-cube: "\f1b2";
$ik-cubes: "\f1b3";
$ik-behance: "\f1b4";
$ik-behance-square: "\f1b5";
$ik-steam: "\f1b6";
$ik-steam-square: "\f1b7";
$ik-recycle: "\f1b8";
$ik-automobile: "\f1b9";
$ik-car: "\f1b9";
$ik-cab: "\f1ba";
$ik-taxi: "\f1ba";
$ik-tree: "\f1bb";
$ik-spotify: "\f1bc";
$ik-deviantart: "\f1bd";
$ik-soundcloud: "\f1be";
$ik-database: "\f1c0";
$ik-file-pdf-o: "\f1c1";
$ik-file-word-o: "\f1c2";
$ik-file-excel-o: "\f1c3";
$ik-file-powerpoint-o: "\f1c4";
$ik-file-image-o: "\f1c5";
$ik-file-photo-o: "\f1c5";
$ik-file-picture-o: "\f1c5";
$ik-file-archive-o: "\f1c6";
$ik-file-zip-o: "\f1c6";
$ik-file-audio-o: "\f1c7";
$ik-file-sound-o: "\f1c7";
$ik-file-movie-o: "\f1c8";
$ik-file-video-o: "\f1c8";
$ik-file-code-o: "\f1c9";
$ik-vine: "\f1ca";
$ik-codepen: "\f1cb";
$ik-jsfiddle: "\f1cc";
$ik-life-bouy: "\f1cd";
$ik-life-buoy: "\f1cd";
$ik-life-ring: "\f1cd";
$ik-life-saver: "\f1cd";
$ik-support: "\f1cd";
$ik-circle-o-notch: "\f1ce";
$ik-ra: "\f1d0";
$ik-rebel: "\f1d0";
$ik-resistance: "\f1d0";
$ik-empire: "\f1d1";
$ik-ge: "\f1d1";
$ik-git-square: "\f1d2";
$ik-git: "\f1d3";
$ik-hacker-news: "\f1d4";
$ik-y-combinator-square: "\f1d4";
$ik-yc-square: "\f1d4";
$ik-tencent-weibo: "\f1d5";
$ik-qq: "\f1d6";
$ik-wechat: "\f1d7";
$ik-weixin: "\f1d7";
$ik-paper-plane: "\f1d8";
$ik-send: "\f1d8";
$ik-paper-plane-o: "\f1d9";
$ik-send-o: "\f1d9";
$ik-history: "\f1da";
$ik-circle-thin: "\f1db";
$ik-header: "\f1dc";
$ik-paragraph: "\f1dd";
$ik-sliders: "\f1de";
$ik-share-alt: "\f1e0";
$ik-share-alt-square: "\f1e1";
$ik-bomb: "\f1e2";
$ik-futbol-o: "\f1e3";
$ik-soccer-ball-o: "\f1e3";
$ik-tty: "\f1e4";
$ik-binoculars: "\f1e5";
$ik-plug: "\f1e6";
$ik-slideshare: "\f1e7";
$ik-twitch: "\f1e8";
$ik-yelp: "\f1e9";
$ik-newspaper-o: "\f1ea";
$ik-wifi: "\f1eb";
$ik-calculator: "\f1ec";
$ik-paypal: "\f1ed";
$ik-google-wallet: "\f1ee";
$ik-cc-visa: "\f1f0";
$ik-cc-mastercard: "\f1f1";
$ik-cc-discover: "\f1f2";
$ik-cc-amex: "\f1f3";
$ik-cc-paypal: "\f1f4";
$ik-cc-stripe: "\f1f5";
$ik-bell-slash: "\f1f6";
$ik-bell-slash-o: "\f1f7";
$ik-trash: "\f1f8";
$ik-copyright: "\f1f9";
$ik-at: "\f1fa";
$ik-eyedropper: "\f1fb";
$ik-paint-brush: "\f1fc";
$ik-birthday-cake: "\f1fd";
$ik-area-chart: "\f1fe";
$ik-pie-chart: "\f200";
$ik-line-chart: "\f201";
$ik-lastfm: "\f202";
$ik-lastfm-square: "\f203";
$ik-toggle-off: "\f204";
$ik-toggle-on: "\f205";
$ik-bicycle: "\f206";
$ik-bus: "\f207";
$ik-ioxhost: "\f208";
$ik-angellist: "\f209";
$ik-cc: "\f20a";
$ik-ils: "\f20b";
$ik-shekel: "\f20b";
$ik-sheqel: "\f20b";
$ik-meanpath: "\f20c";
$ik-buysellads: "\f20d";
$ik-connectdevelop: "\f20e";
$ik-dashcube: "\f210";
$ik-forumbee: "\f211";
$ik-leanpub: "\f212";
$ik-sellsy: "\f213";
$ik-shirtsinbulk: "\f214";
$ik-simplybuilt: "\f215";
$ik-skyatlas: "\f216";
$ik-cart-plus: "\f217";
$ik-cart-arrow-down: "\f218";
$ik-diamond: "\f219";
$ik-ship: "\f21a";
$ik-user-secret: "\f21b";
$ik-motorcycle: "\f21c";
$ik-street-view: "\f21d";
$ik-heartbeat: "\f21e";
$ik-venus: "\f221";
$ik-mars: "\f222";
$ik-mercury: "\f223";
$ik-intersex: "\f224";
$ik-transgender: "\f224";
$ik-transgender-alt: "\f225";
$ik-venus-double: "\f226";
$ik-mars-double: "\f227";
$ik-venus-mars: "\f228";
$ik-mars-stroke: "\f229";
$ik-mars-stroke-v: "\f22a";
$ik-mars-stroke-h: "\f22b";
$ik-neuter: "\f22c";
$ik-genderless: "\f22d";
$ik-facebook-official: "\f230";
$ik-pinterest-p: "\f231";
$ik-whatsapp: "\f232";
$ik-server: "\f233";
$ik-user-plus: "\f234";
$ik-user-times: "\f235";
$ik-bed: "\f236";
$ik-hotel: "\f236";
$ik-viacoin: "\f237";
$ik-train: "\f238";
$ik-subway: "\f239";
$ik-medium: "\f23a";
$ik-y-combinator: "\f23b";
$ik-yc: "\f23b";
$ik-optin-monster: "\f23c";
$ik-opencart: "\f23d";
$ik-expeditedssl: "\f23e";
$ik-battery: "\f240";
$ik-battery-4: "\f240";
$ik-battery-full: "\f240";
$ik-battery-3: "\f241";
$ik-battery-three-quarters: "\f241";
$ik-battery-2: "\f242";
$ik-battery-half: "\f242";
$ik-battery-1: "\f243";
$ik-battery-quarter: "\f243";
$ik-battery-0: "\f244";
$ik-battery-empty: "\f244";
$ik-mouse-pointer: "\f245";
$ik-i-cursor: "\f246";
$ik-object-group: "\f247";
$ik-object-ungroup: "\f248";
$ik-sticky-note: "\f249";
$ik-sticky-note-o: "\f24a";
$ik-cc-jcb: "\f24b";
$ik-cc-diners-club: "\f24c";
$ik-clone: "\f24d";
$ik-balance-scale: "\f24e";
$ik-hourglass-o: "\f250";
$ik-hourglass-1: "\f251";
$ik-hourglass-start: "\f251";
$ik-hourglass-2: "\f252";
$ik-hourglass-half: "\f252";
$ik-hourglass-3: "\f253";
$ik-hourglass-end: "\f253";
$ik-hourglass: "\f254";
$ik-hand-grab-o: "\f255";
$ik-hand-rock-o: "\f255";
$ik-hand-paper-o: "\f256";
$ik-hand-stop-o: "\f256";
$ik-hand-scissors-o: "\f257";
$ik-hand-lizard-o: "\f258";
$ik-hand-spock-o: "\f259";
$ik-hand-pointer-o: "\f25a";
$ik-hand-peace-o: "\f25b";
$ik-trademark: "\f25c";
$ik-registered: "\f25d";
$ik-creative-commons: "\f25e";
$ik-gg: "\f260";
$ik-gg-circle: "\f261";
$ik-tripadvisor: "\f262";
$ik-odnoklassniki: "\f263";
$ik-odnoklassniki-square: "\f264";
$ik-get-pocket: "\f265";
$ik-wikipedia-w: "\f266";
$ik-safari: "\f267";
$ik-chrome: "\f268";
$ik-firefox: "\f269";
$ik-opera: "\f26a";
$ik-internet-explorer: "\f26b";
$ik-television: "\f26c";
$ik-tv: "\f26c";
$ik-contao: "\f26d";
$ik-500px: "\f26e";
$ik-amazon: "\f270";
$ik-calendar-plus-o: "\f271";
$ik-calendar-minus-o: "\f272";
$ik-calendar-times-o: "\f273";
$ik-calendar-check-o: "\f274";
$ik-industry: "\f275";
$ik-map-pin: "\f276";
$ik-map-signs: "\f277";
$ik-map-o: "\f278";
$ik-map: "\f279";
$ik-commenting: "\f27a";
$ik-commenting-o: "\f27b";
$ik-houzz: "\f27c";
$ik-vimeo: "\f27d";
$ik-black-tie: "\f27e";
$ik-fonticons: "\f280";
$ik-reddit-alien: "\f281";
$ik-edge: "\f282";
$ik-credit-card-alt: "\f283";
$ik-codiepie: "\f284";
$ik-modx: "\f285";
$ik-fort-awesome: "\f286";
$ik-usb: "\f287";
$ik-product-hunt: "\f288";
$ik-mixcloud: "\f289";
$ik-scribd: "\f28a";
$ik-pause-circle: "\f28b";
$ik-pause-circle-o: "\f28c";
$ik-stop-circle: "\f28d";
$ik-stop-circle-o: "\f28e";
$ik-shopping-bag: "\f290";
$ik-shopping-basket: "\f291";
$ik-hashtag: "\f292";
$ik-bluetooth: "\f293";
$ik-bluetooth-b: "\f294";
$ik-percent: "\f295";
$ik-gitlab: "\f296";
$ik-wpbeginner: "\f297";
$ik-wpforms: "\f298";
$ik-envira: "\f299";
$ik-universal-access: "\f29a";
$ik-wheelchair-alt: "\f29b";
$ik-question-circle-o: "\f29c";
$ik-blind: "\f29d";
$ik-audio-description: "\f29e";
$ik-volume-control-phone: "\f2a0";
$ik-braille: "\f2a1";
$ik-assistive-listening-systems: "\f2a2";
$ik-american-sign-language-interpreting: "\f2a3";
$ik-asl-interpreting: "\f2a3";
$ik-deaf: "\f2a4";
$ik-deafness: "\f2a4";
$ik-hard-of-hearing: "\f2a4";
$ik-glide: "\f2a5";
$ik-glide-g: "\f2a6";
$ik-sign-language: "\f2a7";
$ik-signing: "\f2a7";
$ik-low-vision: "\f2a8";
$ik-viadeo: "\f2a9";
$ik-viadeo-square: "\f2aa";
$ik-snapchat: "\f2ab";
$ik-snapchat-ghost: "\f2ac";
$ik-snapchat-square: "\f2ad";
$ik-pied-piper: "\f2ae";
$ik-first-order: "\f2b0";
$ik-yoast: "\f2b1";
$ik-themeisle: "\f2b2";
$ik-google-plus-circle: "\f2b3";
$ik-google-plus-official: "\f2b3";
$ik-fa: "\f2b4";
$ik-font-awesome: "\f2b4";
$ik-handshake-o: "\f2b5";
$ik-envelope-open: "\f2b6";
$ik-envelope-open-o: "\f2b7";
$ik-linode: "\f2b8";
$ik-address-book: "\f2b9";
$ik-address-book-o: "\f2ba";
$ik-address-card: "\f2bb";
$ik-vcard: "\f2bb";
$ik-address-card-o: "\f2bc";
$ik-vcard-o: "\f2bc";
$ik-user-circle: "\f2bd";
$ik-user-circle-o: "\f2be";
$ik-user-o: "\f2c0";
$ik-id-badge: "\f2c1";
$ik-drivers-license: "\f2c2";
$ik-id-card: "\f2c2";
$ik-drivers-license-o: "\f2c3";
$ik-id-card-o: "\f2c3";
$ik-quora: "\f2c4";
$ik-free-code-camp: "\f2c5";
$ik-telegram: "\f2c6";
$ik-thermometer: "\f2c7";
$ik-thermometer-4: "\f2c7";
$ik-thermometer-full: "\f2c7";
$ik-thermometer-3: "\f2c8";
$ik-thermometer-three-quarters: "\f2c8";
$ik-thermometer-2: "\f2c9";
$ik-thermometer-half: "\f2c9";
$ik-thermometer-1: "\f2ca";
$ik-thermometer-quarter: "\f2ca";
$ik-thermometer-0: "\f2cb";
$ik-thermometer-empty: "\f2cb";
$ik-shower: "\f2cc";
$ik-bath: "\f2cd";
$ik-bathtub: "\f2cd";
$ik-s15: "\f2cd";
$ik-podcast: "\f2ce";
$ik-window-maximize: "\f2d0";
$ik-window-minimize: "\f2d1";
$ik-window-restore: "\f2d2";
$ik-times-rectangle: "\f2d3";
$ik-window-close: "\f2d3";
$ik-times-rectangle-o: "\f2d4";
$ik-window-close-o: "\f2d4";
$ik-bandcamp: "\f2d5";
$ik-grav: "\f2d6";
$ik-etsy: "\f2d7";
$ik-imdb: "\f2d8";
$ik-ravelry: "\f2d9";
$ik-eercast: "\f2da";
$ik-microchip: "\f2db";
$ik-snowflake-o: "\f2dc";
$ik-superpowers: "\f2dd";
$ik-wpexplorer: "\f2de";
$ik-meetup: "\f2e0";

